.projects-container .container3 .title-section3 {
  color: black;
  margin-top: -100px;
  padding: 100px 0 100px 0;
  text-align: center;
}
.projects-container .container3 .content3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.projects-container .container3 .content3 .left-width {
  width: 300px;
}
.projects-container .container3 .content3 .left-width .project-text-style-h2 {
  margin-bottom: 20px;
  font-size: 25px;
}
.projects-container .container3 .content3 .left-width .btn-container {
  display: flex;
  margin-top: 25px;
}
.projects-container .container3 .content3 .left-width .btn-container .project-btn {
  display: flex;
  width: 120px;
  height: 35px;
  padding: 5px 0;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.projects-container .container3 .content3 .left-width .btn-container .project-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--colorThemeOne3, linear-gradient(90deg, rgb(0, 135, 38) 0%, rgb(50, 185, 44) 100%));
  transition: transform 1s ease;
}
.projects-container .container3 .content3 .left-width .btn-container .project-btn:hover::before {
  transform: rotate(-180deg);
}
.projects-container .container3 .content3 .left-width .btn-container .project-btn::after {
  content: "Source Code";
  width: 95%;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 14px;
}
.projects-container .container3 .content3 .left-width .btn-container button {
  width: 120px;
  height: 35px;
  padding: 5px 0;
  margin-left: 20px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  background: var(--colorThemeOne1, #008726);
  border-radius: 6px;
  transition: transform 0.3s ease;
}
.projects-container .container3 .content3 .left-width .btn-container button:hover {
  transform: scale(1.01);
}
.projects-container .container3 .content3 .column-right3 {
  width: 100%;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}
.projects-container .container3 .content3 .column-right3:hover {
  transform: scale(1.02);
}
.projects-container .container3 .content3 .column-right3 .Pimage-style {
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
  width: 800px;
  box-shadow: 0 0 7px -3px gray;
  transition: all 0.5s 0.2s ease;
}

@media only screen and (min-width: 0px) {
  .projects-container {
    padding: 0 18px;
  }
  .projects-container .container3 .title-section3 {
    padding-bottom: 50px;
  }
  .projects-container .container3 .content3 {
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 70px;
  }
  .projects-container .container3 .content3 .column-left3 .project-text-style-h2 {
    font-size: 20px;
  }
  .projects-container .container3 .content3 .column-right3 .Pimage-style {
    width: 100%;
  }
}
@media only screen and (min-width: 700px) {
  .projects-container {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 900px) {
  .projects-container .container3 .title-section3 {
    font-size: 35px;
  }
  .projects-container .container3 .content3 .column-left3 .project-text-style-h2 {
    font-size: 25px;
  }
  .projects-container .container3 .content3 .column-right3 {
    width: 800px;
    align-self: flex-end;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-container .container3 .title-section3 {
    padding-bottom: 80px;
  }
  .projects-container .container3 .content3 {
    flex-direction: row;
    padding-bottom: 100px;
  }
  .projects-container .container3 .content3 .column-right3 {
    width: 800px;
    align-self: flex-end;
  }
}
.projects-container-dark-mode {
  background-color: rgb(30, 30, 30);
}
.projects-container-dark-mode .container3 .title-section3 {
  color: rgb(220, 220, 220);
}
.projects-container-dark-mode .container3 .content3 .left-width .project-text-style-h2 {
  color: rgb(220, 220, 220);
}
.projects-container-dark-mode .container3 .content3 .left-width p {
  color: rgb(220, 220, 220);
}
.projects-container-dark-mode .container3 .content3 .left-width .btn-container .project-btn {
  background-color: transparent;
}
.projects-container-dark-mode .container3 .content3 .left-width .btn-container .project-btn::before {
  background: var(--colorThemeOne3, linear-gradient(90deg, rgb(0, 135, 38) 0%, rgb(50, 185, 44) 100%));
}
.projects-container-dark-mode .container3 .content3 .left-width .btn-container .project-btn::after {
  background: rgb(30, 30, 30);
  color: rgb(220, 220, 220);
}
.projects-container-dark-mode .container3 .content3 .left-width .btn-container button {
  color: rgb(220, 220, 220);
  background: var(--colorThemeOne1, #008726);
}
.projects-container-dark-mode .container3 .content3 .column-right3 .Pimage-style {
  box-shadow: 0 0 7px -3px white;
}/*# sourceMappingURL=projects.css.map */