$colorThemeOne1: #008726;
$colorThemeOne2: #32b92c;
$colorThemeOne3: linear-gradient(90deg, rgba(0,135,38,1) 0%, rgba(50,185,44,1) 100%);
$colorThemeOne4: #272d2d;
$themeButtonColor: linear-gradient(90deg, rgba(0,135,38,1) 0%, rgba(161,103,74,1) 29%, rgba(85,53,85,1) 65%, rgba(186,27,29,1) 100%);
$colorThemeTwo1: #a1674a;
$colorThemeThree1: #553555;
$colorThemeFour1: #ba1b1d;

// dark mode colors

$colorBackground: rgb(30,30,30);
$colorText: rgb(220,220,220);
$colorBackground2: rgb(40,40,40);
$colorBackground3: rgb(80,80,80);

