@use '../ColorVariables/colors' as *;

.about-container{
    width: 100%;
    background: var(--colorThemeOne1, $colorThemeOne1);
    color: white;
    overflow: hidden;
    position: relative;
    padding-bottom: 120px;
    &::after{
        content: "";
        position: absolute;
        height: 31rem;
        left: -5%;
        right: -5%;
        bottom: 0;
        top: 98%;
        background-color: white;
        transform-origin: 0 0;
        transform: rotateZ(-6deg);
        color: black;
    }
    .container2{

        .title-section {
            text-align: center;
        }
        .content2{
            display: flex;
            justify-content: space-around;
            align-items: center;
            // overflow: hidden;
            .column-left2{
                img{
                    width: 390px;
                    height: 390px;
                    object-fit: cover;
                    object-position: 50% 10%;
                    border-radius: 50%;
                }
            }
            .column-right2{
                .text{
                    line-height: 25px;
                    font-weight: 350;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px){
    .about-container{
        padding-top: 80px;
        .container2{
            padding: 0 18px 0px;
            
            .title-section{
                font-size: 25px;
                padding-bottom: 40px;
            }
            .content2{
                flex-direction: column;
                row-gap: 30px;

                .column-left2{
                    img{
                        width: 300px;
                        height: 300px;
                    }
                }
            }
            .column-right2{
                align-self: flex-start;

                .text{
                    line-height: 25px;
                    font-weight: 350;
                    // padding-right: 50px;
                }
            }
        }
    }
}
@media only screen and (min-width: 700px){
    .about-container{
        .container2{
            padding: 0 40px 0px;
        }
    }
}
@media only screen and (min-width: 900px){
    .about-container{

        padding-top: 100px;
        .container2{

            .title-section{
                font-size: 35px;
                
            }
            .content2{
                flex-direction: row;
                justify-content: space-evenly;
                column-gap: 40px;

                .column-right2{
                    align-self: auto;

                    .text{
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1100px){
    .about-container{

        .container2{
            .content2{

                .column-left2{

                    img{
                        width: 380px;
                        height: 380px;
                    }
                }
            }
        }
    }
}

//dark mode
.about-container-dark-mode{
    background: $colorBackground2;
    color: $colorText;

    &::after{
        background: $colorBackground;
        color: $colorText;
        border-top: 1px solid rgba(250,250,250, .2);
        
    }
}