@use '../ColorVariables/colors' as *;

.contact{
    background: white;
    padding-bottom: 100px;

    .container5{

        .title-section{
            text-align: center;
            padding-bottom: 40px;
        }

        .contact-container{
            display: flex;
            justify-content: space-between;

            .contact-left{
                width: 100%;

                form{
                    display: flex;
                    flex-direction: column;
                    
                    label{
                        font-weight: 500;
                    }
    
                    input, textarea{
                        outline: none;
                        padding: 17px;
                        border: none;
                        margin: 10px 0 20px 0;
                        border-bottom: 2px solid black;
                    }
    
                    .submit{
                        background: var(--colorThemeOne3, $colorThemeOne3);
                        width: 130px;
                        font-size: 18px;
                        padding: 9px;
                        outline: none;
                        border: none;
                        border-radius: 7px;
                        color: white;
                        transition: transform .1s ease-in-out;
                        cursor: pointer;
    
                        &:hover{
                            transform: scale(1.02);
                        }
                    }
                    
                }
            }

            .contact-right{
                width: 100%;
                display: flex;
                flex-direction: column;

                .details{
                    margin-bottom: 30px;

                    span{
                        font-size: 18px;
                    }

                    .icon-container{
                        display: flex;
                        column-gap: 10px;
                        align-items: flex-end;
                        padding: 10px 0;
                        text-decoration: none;
                        color: rgb(50,50,50);

                        img{
                            width: 25px;
                        }

                        label{
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }

                .social{

                    span{
                        font-size: 18px;
                    }

                    .icon-container{
                        display: flex;
                        column-gap: 10px;
                        align-items: flex-end;
                        padding: 10px 0;
                        text-decoration: none;
                        color: rgb(50,50,50);

                        img{
                            width: 25px;
                        }

                        label{
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px){

    .contact {
        padding-top: 80px;

        .container5{
            padding: 0 18px;

            .title-section{
                font-size: 25px;
            }
    
            .contact-container{
                flex-direction: column;
                row-gap: 50px;

                .contact-left{

                    form{
                        .submit{
                            font-size: 15px;
                            width: 140px;
                            height: 35px;
                        }
                    }

                    
                }
    
            }
    
        }
    }
}


@media only screen and (min-width: 700px){

    .contact{

        .container5{
            padding: 0 40px;
        }
    }
}

@media only screen and (min-width: 800px){

    .contact{

        .container5{

            .contact-container{
                flex-direction: row;
                column-gap: 70px;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (min-width: 900px){

    .contact{
        padding-top: 60px;

        .container5{

            .title-section{
                font-size: 35px;
                padding-bottom: 80px;
            }
        }
    }
}